/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   My custom styles | Lucas Bebber CSS-tricks
   ========================================================================== */
body {
  background: black;
  font-family: 'VT323', serif;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
  opacity: .2;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(65px, 9999px, 17px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 6px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 35px, 0);
  }
  15.0% {
    clip: rect(50px, 9999px, 51px, 0);
  }
  20% {
    clip: rect(37px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(83px, 9999px, 86px, 0);
  }
  30.0% {
    clip: rect(83px, 9999px, 91px, 0);
  }
  35% {
    clip: rect(21px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(14px, 9999px, 88px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 61px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 10px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 32px, 0);
  }
  60.0% {
    clip: rect(3px, 9999px, 19px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 23px, 0);
  }
  70% {
    clip: rect(33px, 9999px, 35px, 0);
  }
  75% {
    clip: rect(88px, 9999px, 1px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 23px, 0);
  }
  85.0% {
    clip: rect(24px, 9999px, 60px, 0);
  }
  90% {
    clip: rect(23px, 9999px, 28px, 0);
  }
  95% {
    clip: rect(11px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 35px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(40px, 9999px, 80px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 78px, 0);
  }
  10% {
    clip: rect(87px, 9999px, 19px, 0);
  }
  15.0% {
    clip: rect(12px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 8px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 60px, 0);
  }
  30.0% {
    clip: rect(62px, 9999px, 21px, 0);
  }
  35% {
    clip: rect(74px, 9999px, 21px, 0);
  }
  40% {
    clip: rect(96px, 9999px, 70px, 0);
  }
  45% {
    clip: rect(24px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(6px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(35px, 9999px, 89px, 0);
  }
  60.0% {
    clip: rect(61px, 9999px, 37px, 0);
  }
  65% {
    clip: rect(12px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(38px, 9999px, 17px, 0);
  }
  75% {
    clip: rect(82px, 9999px, 48px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 32px, 0);
  }
  85.0% {
    clip: rect(40px, 9999px, 76px, 0);
  }
  90% {
    clip: rect(62px, 9999px, 28px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 32px, 0);
  }
  100% {
    clip: rect(7px, 9999px, 49px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
